<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd">
    <head />
    <body>
        <h1>Working with widgets</h1>
        <p>In addition to being created in the application and edited, widgets can be imported and exported from a Quality Assurance or development environment to a production or alternative testing environment, or from an older version of the application to a newer version (when compatible). </p>
        <p class="BasicNote">Widgets are stored as a <span class="Emphasis">.widgetf</span> file type.</p>
        <p>Application of widgets varies greatly depending on the widget type.</p>
        <h2>To access the Maintain Widgets window</h2>
        <ul>
            <li>
                <p>From the <span class="Emphasis">System Utilities</span> solution, click the <span class="Emphasis">Views </span>tab, and then <span class="Emphasis">Widgets</span>. </p>
                <p>The <span class="Emphasis">Maintain Widgets</span> window displays.</p>
            </li>
        </ul>
        <ul>
            <img src="../../Resources/Images/Views/Maintain Widgets.png" class="LargeImages" />
        </ul>
    </body>
</html>