<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us">
    <head><title></title>
    </head>
    <body>
        <h1>Aggregation settings </h1>
        <p>The aggregation settings establish and apply conditional aggregation rules for specific columns within the widget. </p>
        <ul>
            <li><span class="Emphasis">Order</span> – If there are multiple ways by which the column can be aggregated, sets the order in which these aggregation methods are applied. </li>
            <li><span class="Emphasis">Enabled</span> – Aggregation rules can be enabled or disabled on a case-by-case basis. </li>
            <li><span class="Emphasis">Conditional Check Field Name</span> – The column which contains the condition that determines if the special aggregation type applies. This is a field in the data area.</li>
            <li><span class="Emphasis">Column Scope Field Name</span> – Defines the column qualifier for the conditional aggregation. </li>
            <li><span class="Emphasis">Row Scope Field Name</span> – Defines the row qualifier for the conditional aggregation. </li>
            <li><span class="Emphasis">Summary Type</span> – The aggregation type which is applied. </li>
            <li><span class="Emphasis">Apply To Row Totals</span> – If selected, the aggregation type is applied to the row totals. </li>
            <li><span class="Emphasis">Apply To Row Grand Totals</span> – If selected, the aggregation type is applied to the row grand totals. </li>
            <li><span class="Emphasis">Apply To Column Totals</span> – If selected, the aggregation type is applied to the column totals. </li>
            <li><span class="Emphasis">Apply To Column Grand Totals</span> – If selected, the aggregation type is applied to the column grand totals. </li>
        </ul>
    </body>
</html>