<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us">
    <head><title></title>
    </head>
    <body>
        <h1>Band options</h1>
        <ul>
            <li><span class="Emphasis">Band Left Caption</span> – The header band on the left side of the widget acting as a container for the columns. </li>
            <li><span class="Emphasis">Band Center Caption</span> – The header band in the center of the widget acting as a container for the columns. </li>
            <li><span class="Emphasis">Band Right Caption</span> – The header band on the right side of the widget acting as a container for the columns. </li>
        </ul>
    </body>
</html>