<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us">
    <head><title></title>
    </head>
    <body>
        <h1>Browser properties</h1>
        <p>The <span class="Emphasis">Browser Properties</span> blade determines how the browser behaves. </p>
        <p>
            <img src="../../Resources/Images/Views/Browser Properties.png" class="LargeImages" />
        </p>
        <ul>
            <li><span class="Emphasis">URL</span> – For instances where the URL is hard coded and not intended to be returned as a parameter.</li>
            <li><span class="Emphasis">Allow URL Edit</span> – Makes the URL field available to viewers so that they can edit it.</li>
            <li><span class="Emphasis">Allow Context Menu</span> – If enabled, allows the right-click functions within the browser.</li>
            <li><span class="Emphasis">Web Browser Shortcuts Enabled</span> – If selected, enables familiar shortcuts within the browser.</li>
            <li><span class="Emphasis">Script Errors Suppressed</span> – Suppresses any script errors encountered by the browser. </li>
            <li><span class="Emphasis">Show URL Edit</span> – If selected, the URL bar displays.</li>
            <li><span class="Emphasis">Show Back Button</span> – Shows the back button. </li>
            <li><span class="Emphasis">Show Forward Button</span> – Shows the forward button. </li>
            <li><span class="Emphasis">Show Refresh Button</span> – Shows the refresh button. </li>
            <li><span class="Emphasis">Allow Navigation</span> – Restricting <span class="Emphasis">Allow Navigation</span> prevents users from navigating to another page after its initial page has been loaded within Internet Explorer.</li>
            <li><span class="Emphasis">Allow Web Browser Drop</span> – If selected, lets users use the drag-and-drop features of some web sites which permit users to upload files by dropping them within the browser. window.  </li>
        </ul>
    </body>
</html>