<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us">
    <head><title></title>
    </head>
    <body>
        <h1>Browsers</h1>
        <ul>
            <li><span class="Emphasis">WidgetTypeID = 6</span>
            </li>
        </ul>
        <p>The browser widget&#160;is essentially an instance of a browser that is tied into the ToolsGroup JustEnough application. Beyond basic web surfing, the browser widget can be used to access custom web applications built specifically for end users.</p>
    </body>
</html>