<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us">
    <head><title></title>
    </head>
    <body>
        <h1>Cell formatting and coloring rules</h1>
        <p>The <span class="Emphasis">Cell Formatting/Coloring Rules</span> tab presents users with a similar layout and set of functionality to the <span class="Emphasis">Editability Rules</span> tab with the added benefit of highlighting potential exceptions using cell background and text coloring and font manipulation. </p>
        <p>
            <img src="../../Resources/Images/Views/Cell Formatting Coloring Rules Edit.png" class="LargeImages" />
        </p>
    </body>
</html>