<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us">
    <head><title></title>
    </head>
    <body>
        <h1>Cell formatting and coloring rules </h1>
        <p>Cell formatting and coloring rules affect how individuals cells are formatted. These settings override any column level formatting such as the fore and back colors. When setting the rules, the order of application is important. Rules apply from the top of the grid to the bottom, with subsequent rules painting over preceding rules.</p>
        <p>
            <img src="../../Resources/Images/Views/Cell Formatting Coloring Rules.png" class="LargeImages" />
        </p>
        <p>In the example, the red rule will over paint the blue.</p>
    </body>
</html>