<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us">
    <head><title></title>
    </head>
    <body>
        <h1>Chart options</h1>
        <ul>
            <li><span class="Emphasis">Pivot Chart Enabled</span> – If checked, the chart options are available for the pivot grid. </li>
            <li><span class="Emphasis">Pivot Chart Data Vertical</span> – If selected, displays the pivot data vertically.&#160; </li>
            <li><span class="Emphasis">Pivot Chart Selection Only</span> – If enabled, the pivot chart only maps the highlighted data cells for the chart features (as opposed to charting every row and column).</li>
            <li><span class="Emphasis">Pivot Chart Show Column Grand Totals</span> – If checked, displays the grand totals for columns which may be summed in the chart view.</li>
            <li><span class="Emphasis">Pivot Chart Show Column Totals</span> – If checked, displays the totals for columns which may be summed in the chart view.</li>
            <li><span class="Emphasis">Pivot Chart Show Row Grand Totals</span> – If checked, displays the grand totals for rows which may be summed in the chart view.</li>
            <li><span class="Emphasis">Pivot Chart Show Row Totals</span> – If checked, displays the totals for rows which may be summed in the chart view.</li>
            <li><span class="Emphasis">Pivot Chart Vertical X Axis Labels</span> – If checked, displays the X axis labels within the chart. </li>
            <li><span class="Emphasis">Pivot Chart Show Legend</span> – If checked, shows the chart legend. </li>
            <li><span class="Emphasis">Pivot Chart Show Point Labels</span> – If checked, displays the data related to the point within the chart. </li>
            <li><span class="Emphasis">Pivot Chart View Type</span> – The type of chart (see chart widget for further details on chart types). 
                <p class="BasicNote">Not all chart types may be available or practical for use with pivot data. </p></li>
        </ul>
    </body>
</html>