<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us">
    <head><title></title>
    </head>
    <body>
        <h1>Charts</h1>
        <ul>
            <li><span class="Emphasis">WidgetTypeID = 3</span>
            </li>
        </ul>
        <p>Charts as an individual widget (and not as an extension of a pivot grid or data grid) add a graphical representation to a data series. There are 59 different chart types which can be displayed within ToolsGroup JustEnough. However, the common chart types are bar graphs, line graphs, pie charts, and several others. </p>
    </body>
</html>