<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us">
    <head><title></title>
    </head>
    <body>
        <h1>Column total options </h1>
        <ul>
            <li><span class="Emphasis">Show Column Grand Totals</span> – Displays the grand totals for columns which can be summed. </li>
            <li><span class="Emphasis">Show Column Totals</span> – Displays the total for the column if the column can be summed.</li>
        </ul>
    </body>
</html>