<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us">
    <head><title></title>
    </head>
    <body>
        <h1>Column settings</h1>
        <ul>
            <li><span class="Emphasis">Column Friendly Name</span> – An optional user readable name.</li>
            <li><span class="Emphasis">Column Order</span> – The stacked numerical order for the columns in the widget. Any column without the <span class="Emphasis">Visible</span> flag checked has an order of <span class="Emphasis">0</span>.</li>
            <li><span class="Emphasis">Format String</span> – The format string settings affect how data displays. Format string entries vary depending on the data type. Examples include:<ul><li><span class="Emphasis">P2</span> – A percentage with two decimal places.</li><li><span class="Emphasis">F3</span> – A fixed point decimal with three decimal places.</li><li><span class="Emphasis">C</span> – A currency.</li><li><span class="Emphasis">D6</span> – A decimal with six decimal places.</li></ul></li>
            <li><span class="Emphasis">Column Name Format String</span> – A format string applied to the column name. </li>
            <li><span class="Emphasis">Horizontal Alignment</span> – The horizontal alignment adjusts how the data is aligned within the cells. </li>
            <li><span class="Emphasis">Vertical Alignment</span> – The vertical alignment adjusts how the data is aligned within the cells. </li>
            <li><span class="Emphasis">Allow DB Null</span> – When adding a row, validates that the proper data has been supplied. </li>
            <li><span class="Emphasis">Default Value</span> – If there is a default value which should be displayed in the column, this value should be listed here. When relying on the application or the user to provide the value, this field should be left blank (null).</li>
            <li><span class="Emphasis">Fixed Width</span> – If selected, the column width is not editable by the user. </li>
            <li><span class="Emphasis">Allow Show Hide</span> – If selected, determines whether the column can be hidden or restored by an end-user. </li>
            <li><span class="Emphasis">Allow Move</span> – If selected, users can move and re-order the columns.</li>
            <li><span class="Emphasis">Allow Group</span> – Can be used to prevent aggregation of a column.&#160; </li>
            <li><span class="Emphasis">Write Enabled</span> – If selected, users can write values to the cells within the columns. </li>
            <li><span class="Emphasis">Visible</span> – If selected, the column is visible within the grid. </li>
            <li><span class="Emphasis">Allow Size</span> – If selected, users can re-size the column. </li>
            <li><span class="Emphasis">Allow Filter</span> – If selected, users can add a filter to the column.</li>
            <li><span class="Emphasis">Allow Sort</span> – If selected, users can sort the column.</li>
            <li><span class="Emphasis">Parameter</span> – Defines the parameter which is broadcast to the other widgets upon selection (highlight).</li>
            <li><span class="Emphasis">Show Caption</span> – If selection, the column header displays. </li>
            <li><span class="Emphasis">Fore Color</span> – The text color for the column. </li>
            <li><span class="Emphasis">Back Color</span> – The background color for the column. </li>
            <li><span class="Emphasis">Allow Auto Filter</span> – If selected, auto filter row is read-only for this column.</li>
            <li><span class="Emphasis">Allow Grid Group Summary</span> – When using the pivot functionality to create groups, the subtotal count for the group displays.&#160; </li>
            <li><span class="Emphasis">Allow Grid Totals</span> – If selected, displays the count totals for the grid. </li>
        </ul>
    </body>
</html>