<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us">
    <head><title></title>
    </head>
    <body>
        <h1>Construction</h1>
        <p>Chart construction contains details about how the chart is built. </p>
        <p><span class="Emphasis">Chart Type</span> – The practical chart types vary depending on the data selected and their associated dimensions as not every chart type makes sense for every data set. </p>
        <p>Chart types include:</p>
        <table style="width: 100%;">
            <col />
            <col />
            <col />
            <col />
            <tbody>
                <tr>
                    <td>
                        <ul>
                            <li>Bar</li>
                            <li>Bar Stacked</li>
                            <li>Bar Stacked 100%</li>
                            <li>Side By Side Bar Stacked</li>
                            <li>Side By Side Bar Stacked 100%</li>
                            <li>Bar 3D</li>
                            <li>Bar 3D Stacked</li>
                            <li>Bar 3D Stacked 100%</li>
                            <li>Side By Side Bar 3D Stacked</li>
                            <li>Side By Side Bar 3D Stacked 100%</li>
                            <li>Manhattan Bar</li>
                            <li>Point</li>
                            <li>Bubble</li>
                            <li>Line</li>
                            <li>Line Stacked</li>
                            <li>Line Stacked 100%</li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li>Step Line</li>
                            <li>Spline</li>
                            <li>Scatter Line</li>
                            <li>Swift Plot</li>
                            <li>Line 3D</li>
                            <li>Line 3D Stacked</li>
                            <li>Line 3D Stacked 100%</li>
                            <li>Step Line 3D</li>
                            <li>Spline 3D</li>
                            <li>Pie</li>
                            <li>Doughnut</li>
                            <li>Pie 3D</li>
                            <li>Doughnut 3D</li>
                            <li>Funnel</li>
                            <li>Funnel 3D</li>
                            <li>Area</li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li>Area Stacked</li>
                            <li>Area Stacked 100%</li>
                            <li>Step Area</li>
                            <li>Spline Area</li>
                            <li>Spline Area Stacked</li>
                            <li>Spline Area Stacked 100%</li>
                            <li>Area 3D</li>
                            <li>Area 3D Stacked</li>
                            <li>Area 3D Stacked 100%</li>
                            <li>Step Area 3D</li>
                            <li>Spline Area 3D</li>
                            <li>Spline Area 3D Stacked</li>
                            <li>Spline Area 3D Stacked 100%</li>
                            <li>Range Bar</li>
                            <li>Side By Side Range Bar</li>
                            <li>Range Area</li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li>Range Area 3D</li>
                            <li>Radar Point</li>
                            <li>Radar Line</li>
                            <li>Radar Area</li>
                            <li>Polar Point</li>
                            <li>Polar Line</li>
                            <li>Polar Area</li>
                            <li>Stock</li>
                            <li>Candle Stock</li>
                            <li>Gantt</li>
                            <li>Side By Side Gantt</li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
        <p><span class="Emphasis">Appearance</span> – The appearance section lets users set the color palette and the style, as well as to preview their graph. </p>
        <p><span class="Emphasis">Series</span> – The series section displays all of the included data series for the chart. Depending on the chart type, there may be one or many series displayed at one time. </p>
        <p><span class="Emphasis">Data</span> – The data section describes the data points returned by the method to the chart. </p>
    </body>
</html>