<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us">
    <head><title></title>
    </head>
    <body>
        <h1>Data column hide rules </h1>
        <p>The data column hide rules are used to hide columns based on specific data conditions. </p>
        <p>
            <img src="../../Resources/Images/Views/Data Column Hide Rules.png" class="LargeImages" />
        </p>
        <p>The selected field is hidden if the condition is met in the specified conditional column.</p>
    </body>
</html>