<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us">
    <head><title></title>
    </head>
    <body>
        <h1>Update options</h1>
        <ul>
            <li><span class="Emphasis">Refresh Data on Add</span> – Refreshes the grid if data is added which may be returned. </li>
            <li><span class="Emphasis">Refresh Data on Update</span> – Refreshes the grid if data is updated which may be returned.</li>
            <li><span class="Emphasis">Refresh Data on Delete</span> – Refreshes the grid if data is deleted which may no longer be returned.</li>
            <li><span class="Emphasis">Confirmation Message on Successful Update</span> – Displays a confirmation message upon successfully updating data. </li>
            <li><span class="Emphasis">Confirmation Message</span> – The message which displays (default: <span class="Emphasis">Changes Saved</span>).</li>
            <li><span class="Emphasis">Allow Confirmation Message Before Add Operation</span> – If selected, displays a confirmation before data is added. </li>
            <li><span class="Emphasis">Confirmation Message Before Add Operation</span> – The message which displays (Default: <span class="Emphasis">Allow Add Operation?</span>).</li>
            <li><span class="Emphasis">Allow Confirmation Message Before Delete Operation</span> – If selected, displays a confirmation before data is deleted. </li>
            <li><span class="Emphasis">Confirmation Message Before Delete Operation</span> – The message which displays (Default: <span class="Emphasis">Allow Delete Operation?</span>).</li>
            <li><span class="Emphasis">Refresh Widget Siblings</span> – Must be checked if dependent widgets within the view require data updates. </li>
        </ul>
    </body>
</html>