<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us">
    <head><title></title>
    </head>
    <body>
        <h1>Data grids</h1>
        <ul>
            <li><span class="Emphasis">WidgetTypeID = 2</span>
            </li>
        </ul>
        <p>The data grid is the most basic widget type. It is a display of data in a table. A data grid presents data in its raw form without manipulation or sorting. Data grids may have writeback features or execution buttons if they are intended for data maintenance. </p>
        <p>The forms widget is not a separate widget type. It is actually an extension and variation of the data grid widget. The forms widget is used to display or write data using the traditional “Card” type view. </p>
    </body>
</html>