<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us">
    <head><title></title>
    </head>
    <body>
        <h1>Grid options</h1>
        <ul>
            <li><span class="Emphasis">Allow Column Moving</span> – If selected, users can rearrange columns within the grid. </li>
            <li><span class="Emphasis">Allow Column Resizing</span> – If selected, users can change the width of the columns.</li>
            <li><span class="Emphasis">Allow Filter</span> – If selected, users can add a filter to the column.</li>
            <li><span class="Emphasis">Allow Group</span> – If selected, determines whether end-users can drag the column's header to the group panel to group data against the column's values.</li>
            <li><span class="Emphasis">Allow Quick Hide Column</span> – If selected, users can temporarily hide a column within the grid by dragging it to the data area. </li>
            <li><span class="Emphasis">Allow Row Sizing</span> – If selected, users can change the height of the rows.</li>
            <li><span class="Emphasis">Allow Sort</span> – If selected, users can sort the column data by ascending or descending order. </li>
            <li><span class="Emphasis">Multi-Select</span> – If selected, users can highlight and select multiple rows within the grid (by using the shift key).</li>
            <li><span class="Emphasis">Show Auto Filter Row</span> – Displays the auto filter row.</li>
            <li><span class="Emphasis">Show Group Panel</span> – Shows the group panel if groups are allowed. </li>
            <li><span class="Emphasis">Show Horizontal Lines</span> – Displays the horizontal grid lines. </li>
            <li><span class="Emphasis">Show Vertical Lines</span> – Displays the vertical grid lines. </li>
            <li><span class="Emphasis">Enable Appearance Even Row</span> – If enabled, adds a subtle color highlight to every other row within the grid making it easier to read.  </li>
        </ul>
    </body>
</html>