<?xml version="1.0" encoding="UTF-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd"
      xml:lang="en-us">
   <head>
      <title/>
   </head>
   <body>
      <h1>Editability rules</h1>
      <p>Editability rules make a field editable by the end users when certain conditions are met. This may be used to restrict user input in cases where it may not be appropriate. </p>
      <p>To manage editability rules, in the <span class="Emphasis">Editability Rules</span> tab users should pick a column, and a column by which to compare it. </p>
      <p>Define the comparison type and value, then determine if the field should or should not be editable. </p>
      <p>
         <img src="../../Resources/Images/Views/Editability Rules.png"
              class="LargeImages"/>
      </p>
   </body>
</html>
