<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us">
    <head><title></title>
    </head>
    <body>
        <h1>Expression settings</h1>
        <ul>
            <li><span class="Emphasis">Expression Column</span> – Checked if the column is an expression column. </li>
            <li><span class="Emphasis">Expression</span> – The associated expression if the column is an expression column. </li>
        </ul>
    </body>
</html>