<?xml version="1.0" encoding="UTF-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd"
      xml:lang="en-us">
   <head>
      <title/>
   </head>
   <body>
      <h1>Expression columns</h1>
      <p>Expression columns may be added to the pivot grid to create calculations which are done within the user interface. This is a similar concept to the function editor for users familiar with Microsoft Excel. The expression column type must be selected to determine how the data is gathered and calculated. </p>
      <p>
         <img src="../../Resources/Images/Views/Expression Columns.png"
              class="LargeImages"/>
      </p>
   </body>
</html>
