<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us">
    <head><title></title>
    </head>
    <body>
        <h1>Font settings</h1>
        <ul>
            <li><span class="Emphasis">Font Bold</span> – If selected, bolds the font.</li>
            <li><span class="Emphasis">Font StrikeOut</span> – If selected, strikes out the font. </li>
            <li><span class="Emphasis">Font Italic</span> – If selected, italicizes the font. </li>
            <li><span class="Emphasis">Font Underline</span> – If selected, underlines the font. </li>
        </ul>
    </body>
</html>