<?xml version="1.0" encoding="UTF-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd"
      xml:lang="en-us">
   <head>
      <title/>
   </head>
   <body>
      <h1>General</h1>
      <p>The <span class="Emphasis">General</span> tab contains header level data related to the widget. </p>
      <p>
         <img src="../../Resources/Images/Views/General.png" class="LargeImages"/>
      </p>
      <ul>
         <li>
            <span class="Emphasis">Name</span> – The unique name for the widget. </li>
         <li>
            <span class="Emphasis">Description</span> – The optional description for the widget. Can be very useful for disambiguation (especially when exporting widgets).</li>
         <li>
            <span class="Emphasis">Read Only</span> – If checked, then the widget is read-only. </li>
      </ul>
   </body>
</html>
