<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd">
    <head>
    </head>
    <body>
        <h1>Defining and managing cost types</h1>
        <p>To import new Cost Types into ToolsGroup JustEnough, they must first be defined and managed using the <span class="Emphasis">Common Cost and Price Type Maintenance</span> view.</p>
        <p>
            <img src="../../Resources/Images/Views/Common Cost and Price Type Maintenance view.PNG" class="LargeImages" />
        </p>
        <h2>Cost Type Maintenance</h2>
        <p>The following Cost Type Name and Active Flag is read-only:</p>
        <ul>
            <li>
                <p>Standard</p>
            </li>
        </ul>
        <h2>Price Type Maintenance</h2>
        <p>The following Price Type Names and Active Flag are read-only:</p>
        <ul>
            <li>
                <p>Regular</p>
            </li>
            <li>
                <p>Promo</p>
            </li>
            <li>
                <p>Markdown</p>
            </li>
            <li>
                <p>MSRP</p>
            </li>
        </ul>
        <h2>Field notes</h2>
        <ul>
            <li>
                <p>Cost Type and Price Type names must be unique within each grid.</p>
            </li>
            <li>
                <p>Cost Type External ID is available in the Cost Type grid only and is for informational purposes.</p>
                <p class="BasicNote">The name field is used to get CostTypeID</p>
            </li>
        </ul>
    </body>
</html>