<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us">
    <head><title></title>
    </head>
    <body>
        <h1>Importing and exporting widgets</h1>
        <p>Widgets can be imported and exported using the <span class="Emphasis">Maintain Widgets</span> window. </p>
        <h2>Importing widgets</h2>
        <ol>
            <li>Select the <span class="Emphasis">Import New</span> button to open the Windows file manage. </li>
            <li>
                <p>Navigate to the folder containing the <span class="Emphasis">.widgetf</span> file to be imported. </p>
                <p>Once imported, the file is located in a folder labeled <span class="Emphasis">import</span> followed by an 18 digit number string (this is the datetime in ticks) which can be used to link the widget to any simultaneously imported parameters. </p>
                <p>
                    <img src="../../Resources/Images/Views/Importing.png" class="LargeImages" />
                </p>
            </li>
        </ol>
        <p class="BasicNote">The imported widget functions as designed if left in its import folder. However,  users can move the widget to the proper folder for ease of navigation. </p>
        <h2>Exporting widgets</h2>
        <p>To export a widget:</p>
        <ol>
            <li>Highlight the widget in the <span class="Emphasis">Maintain Widgets</span> window. </li>
            <li>Click the <span class="Emphasis">Export</span> button. </li>
            <li>Navigate to where the widget is to be saved. </li>
            <li>
                <p>Click <span class="Emphasis">Save</span>.  </p>
                <p>The exported widget saves as a <span class="Emphasis">.widgetf</span> file type.</p>
            </li>
        </ol>
    </body>
</html>