<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us">
    <head><title></title>
    </head>
    <body>
        <h1>Layout options</h1>
        <ul>
            <li>
                <p><span class="Emphasis">View Caption</span> – When using the form view, the caption appears as a header to the form. </p>
                <p class="BasicNote">This field is technically a format string and may use the features inherent in their creation to return desired data.  </p>
            </li>
            <li><span class="Emphasis">Show View Caption</span> – Displays if selected and in cases where there is a view caption.</li>
            <li><span class="Emphasis">Card Caption Format String</span> – The format string for the card caption.&#160; Format string entries vary depending on the data type. Examples include:<ul><li><span class="Emphasis">P2</span> – A percentage with two decimal places.</li><li><span class="Emphasis">F3</span> – A fixed point decimal with three decimal places.</li><li><span class="Emphasis">C</span> – A currency.</li><li><span class="Emphasis">D6</span> – A decimal with six decimal places.</li></ul></li>
            <li><span class="Emphasis">Show Card Caption</span> – Displays if selected and in cases where there is a card caption.</li>
            <li><span class="Emphasis">Show Header Panel</span> – Displays the header panel. </li>
            <li><span class="Emphasis">Show Expand Button</span> – Displays the “expand button”.</li>
            <li><span class="Emphasis">Allow Hot Track Fields</span> – When using the form view, adds additional highlight functions to mouse-over.</li>
            <li><span class="Emphasis">Allow Sort</span> – Allows sort options for the entire grid. Overrides the column level settings. </li>
            <li><span class="Emphasis">Allow Filter</span> – Allows filter options for the entire grid. Overrides the column level settings.</li>
            <li><span class="Emphasis">Single Card Stretch to Width</span> – In layout mode with a single card, automatically stretches the width of the card to fit. </li>
            <li><span class="Emphasis">Single Card Stretch to Height</span> – In layout mode with a single card, automatically stretches the height of the card to fit.</li>
            <li><span class="Emphasis">Multi Card Stretch to Width</span> – In layout mode with multiple cards, automatically stretches the width of the cards to fit.</li>
            <li><span class="Emphasis">Multi Card Stretch to Height</span> – In layout mode with multiple cards, automatically stretches the height of the cards to fit.</li>
            <li><span class="Emphasis">Layout View Mode</span> – Determines how the layout displays if the view mode is set to Layout.</li>
            <li><span class="Emphasis">Use Advanced Runtime Customization</span> – When using the form view, enables the customizable functions so uses can edit and fine tune the layout. </li>
            <li><span class="Emphasis">Show Save Load Layout Buttons</span> – Displays the save and load layout buttons. </li>
            <li><span class="Emphasis">Allow Customization</span> – Lets users customize the form at run time.  </li>
        </ul>
    </body>
</html>