<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us">
    <head><title></title>
    </head>
    <body>
        <h1>Selecting and editing views</h1>
        <p>The <span class="Emphasis">Navigation Menu</span> pane on the left of the <span class="Emphasis">Views</span> module displays all available views. Double click a view in the<span class="Emphasis"> Navigation Menu</span> pane to display the view in a separate tab in the right pane. </p>
        <p>
            <img src="../../Resources/Images/Views/Loading and Using a View.png" class="LargeImages" />
        </p>
        <p>Multiple views can be displayed which open in individual tabs. The views have full functionality within this module.</p>
        <h2>Editing existing views</h2>
        <p>Views can be customized by clicking the <span class="Emphasis">Views</span> button in the <span class="Emphasis">Configure</span> toolbar. Views can be edited, imported, and exported using the <span class="Emphasis">View Management</span> window.</p>
        <p>
            <img src="../../Resources/Images/Views/Editing an Existing View.png" class="LargeImages" />
        </p>
        <h3>To edit a view</h3>
        <ol>
            <li>
                <p>Select a view and click <span class="Emphasis">Edit</span>. </p>
                <p>The <span class="Emphasis">Update View</span> dialog displays.</p>
                <p>
                    <img src="../../Resources/Images/Views/Update View Dialog.png" class="LargeImages" />
                </p>
            </li>
            <li>
                <p>Revise the view as required.</p>
                <p>For more information on completing the <span class="Emphasis">Update View</span> dialog, see <MadCap:xref href="Custom View Field Definitions.htm">Field Definitions</MadCap:xref>.</p>
            </li>
            <li>Click <span class="Emphasis">Ok</span>.</li>
        </ol>
    </body>
</html>