<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us">
    <head><title></title>
    </head>
    <body>
        <h1>Lookup settings</h1>
        <ul>
            <li><span class="Emphasis">Lookup Column</span> – Checked if the column is a lookup column. </li>
        </ul>
        <h2>Actions</h2>
        <ul>
            <li><span class="Emphasis">Allow Actions for Column</span> – If selected, displays the action button. </li>
            <li><span class="Emphasis">Action Editor Style Type</span> – Determines the action button options which display to end users. <ul><li><span class="Emphasis">Display Editor with Action Buttons</span> – Provides potential action edit functionality to end users.</li><li><span class="Emphasis">Display Only Action Buttons</span> – Displays only the action button and not the editor.&#160; </li></ul></li>
        </ul>
    </body>
</html>