<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us">
    <head><title></title>
    </head>
    <body>
        <h1>OLAP pivot grid options</h1>
        <ul>
            <li><span class="Emphasis">Data Field Area</span> – Specifies the location, or lack thereof, of the data field. It is common to leave this as <span class="Emphasis">None</span>.</li>
            <li><span class="Emphasis">Horizontal Scrolling</span> – Determines how the grid may be scrolled horizontally. <ul><li><span class="Emphasis">Cells Area</span> – Enables the scroll bar to allow for horizontal scrolling through the data cells only.</li><li><span class="Emphasis">Control</span> – Allows users to scroll horizontally through the entire widget, including the control area.</li></ul></li>
            <li><span class="Emphasis">Show Horizontal Lines</span> – Similar to MS Excel, toggles the horizontal row lines on and off.</li>
            <li><span class="Emphasis">Show Vertical Lines</span> – Similar to MS Excel, toggles the vertical column lines on and off.</li>
            <li><span class="Emphasis">Totals Location</span> – Determines the location for totals columns.<ul><li><span class="Emphasis">Near</span> – Displays the totals column to&#160;left of the column field values.</li><li><span class="Emphasis">Far</span> – Displays the totals column to&#160;left of the column field values.</li></ul></li>
            <li><span class="Emphasis">Allow Compact View</span> – When checked, this value allows users to create compact layouts for hierarchical pivot table row values thus creating more space horizontally without sacrificing the distinction between the hierarchical row values.</li>
            <li><span class="Emphasis">Show Filter Drop Area</span> – Displays the drag-and-drop area to add fields to the filter area. </li>
            <li><span class="Emphasis">Show Data Drop Area</span> – Displays the drag-and-drop area to add fields to the data area.</li>
            <li><span class="Emphasis">Show Column Drop Area</span> – Displays the drag-and-drop area to add fields to the column area.</li>
            <li><span class="Emphasis">Show Row Drop Area</span> – Displays the drag-and-drop area to add fields to the row area.</li>
        </ul>
    </body>
</html>