<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us">
    <head><title></title>
    </head>
    <body>
        <h1>General</h1>
        <p>The <span class="Emphasis">General</span> blade holds header level information about the widget.</p>
        <ul>
            <li><span class="Emphasis">Name</span> – The unique name for the widget. </li>
            <li><span class="Emphasis">Description</span> – The optional description for the widget. Can be very useful for disambiguation (especially when exporting widgets).</li>
        </ul>
        <p>The <span class="Emphasis">Read Only</span> section does not appear in the <span class="Emphasis">General</span> blade of the OLAP pivot grid configuration as all OLAP pivot grids are read-only.</p>
    </body>
</html>