<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us">
    <head>
        <title>
        </title>
    </head>
    <body>
        <h1>OLAP pivot grids</h1>
        <ul>
            <li>
                <span class="boolean">WidgetTypeID = 8</span>
            </li>
        </ul>
        <p>An OLAP pivot grid widget is visually identical to the standard pivot grid. The OLAP pivot grid must link to an OLAP cube data structure to return a large amount of data to the ToolsGroup JustEnough user interface. Data may be organized and manipulated in many ways, similar to how it is done in the standard pivot grid. </p>
    </body>
</html>