<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us">
    <head><title></title>
    </head>
    <body>
        <h1>Lookup columns</h1>
        <p>The lookup columns can be configured to increase the usability of the pivot grid widget by referencing lookup data and presenting it in a more familiar and more user-friendly format.</p>
        <p>
            <img src="../../Resources/Images/Views/Lookup Columns.png" class="LargeImages" />
        </p>
        <p>The lookup column must be accompanied by a method (stored procedure) which returns the lookup data. </p>
        <p>For example, if the returned data is the product status ID (an INT 1-10) and the user wants to change it, the lookup column runs a separate query to the database to give the associate friendly name text values for the 1-10 IDs based on a SELECT from a different table.</p>
    </body>
</html>