<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us">
    <head><title></title>
    </head>
    <body>
        <h1>Pivot grids</h1>
        <ul>
            <li>WidgetTypeID = 1</li>
        </ul>
        <p>Pivot grids are similar in many ways to MS Excel pivot tables. Pivot grids are one of the most commonly used widgets and proper application of pivot grids is essential to maximizing the functionality of&#160;views. In general, a pivot grid is a data summarization tool used to aggregate certain data series, sort data, count totals, or average data sets included in the table. </p>
    </body>
</html>