<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us">
    <head><title></title>
    </head>
    <body>
        <h1>Presentation</h1>
        <p>The Presentation section determines the details and additional features of the chart.</p>
        <ul>
            <li><span class="Emphasis">Chart</span> – Allows users to affect the appearance of the chart, including background colors, fill styles, borders, and other settings. </li>
            <li><span class="Emphasis">Diagram</span> – The diagram section allows users to manipulate the layout, rotation, scrolling, and zoom functions of the chart. </li>
            <li><span class="Emphasis">Panes</span> – Panes will frame the chart. This feature may not be available for all chart types.&#160; </li>
            <li><span class="Emphasis">Axes</span> – The axes settings determine if and how the chart axes display. This feature may not be available for all chart types.&#160; </li>
            <li><span class="Emphasis">Series Views</span> – Series views allow users to manipulate how the individual series in the chart display and are treated.&#160; </li>
            <li><span class="Emphasis">Point Labels</span> – The <span class="Emphasis">Point Labels</span> section affects how the data points are graphically represented within the chart. If it is intended for the values to be presented as part of the chart, users must determine how they would like to view that information.&#160; </li>
            <li><span class="Emphasis">Chart Titles</span> – Lets users add titles to charts. This may be unnecessary as the widget name typically displays at the header level of the container.&#160; </li>
            <li><span class="Emphasis">Legend</span> – If the chart requires or would benefit from the use of a legend, this can be added using the legend settings.&#160; </li>
            <li><span class="Emphasis">Annotations</span> – Any required annotations can be added using the annotations settings.&#160; </li>
        </ul>
    </body>
</html>