<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us">
    <head><title></title>
    </head>
    <body>
        <h1>Rolling actions </h1>
        <p>The rolling actions settings determine how changes made to the data affect (or roll out to) other data fields within the widget. </p>
        <ul>
            <li><span class="Emphasis">Set Fields</span> – Defines the group. <span class="Emphasis">Set Fields</span> is a multi-select so users can pick more than one (i.e. product level ID and channel level ID in Merchandise Financial Planning).</li>
            <li><span class="Emphasis">Order Fields</span> – Determines the direction in which the data roles. Typically, these are date fields.</li>
            <li><span class="Emphasis">Condition</span> – Determines under which condition users intend to cause the data to roll forward (i.e. in Merchandise Financial Planning, only roll for future periods).</li>
            <li><span class="Emphasis">Previous Source Row Field</span> – Defines the source of the data to be rolled. Must be a base level field.</li>
            <li><span class="Emphasis">Next Destination Row Field</span> – Defines the destination. Must be a base level field.</li>
            <li><span class="Emphasis">Do Accept Changes</span> – Enables the rolling action. </li>
        </ul>
    </body>
</html>