<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us">
    <head><title></title>
    </head>
    <body>
        <h1>Schedule properties</h1>
        <p>The schedule properties define the layout of the schedule and how users are allowed to interact with it. </p>
        <ul>
            <li><span class="Emphasis">Resource Name Caption</span> – Name given to the schedule. </li>
            <li><span class="Emphasis">Resource Tree Visibility</span> – If selected, the resource tree is visible.  </li>
            <li><span class="Emphasis">Auto Node Height</span> – If selected, automatically generates the height for the node. </li>
        </ul>
        <p><span class="Emphasis">Use Today as Go to Date</span> – If selected, today’s date (GETDATE) is used as the go to date.</p>
        <ul>
            <li><span class="Emphasis">Go to Date</span> – The date which presents when the widget is launched. </li>
            <li><span class="Emphasis">Show Resource Headers</span> – If selected, the resource headers display.  </li>
            <li><span class="Emphasis">Resource Headers Height</span> – Height for the resource headers can be hard coded. </li>
            <li><span class="Emphasis">Resources Per Page</span> – Limits how many resources display per page. When the widget has been launched, this can be adjusted dynamically using the plus and minus arrow keys.  </li>
            <li><span class="Emphasis">Cells Auto Height</span> – Automatically assigns a height for the cells. </li>
            <li><span class="Emphasis">Appointment Auto Height</span> – Automatically assigns a height for the appointments. </li>
            <li><span class="Emphasis">Appointment Height</span> – If not set automatically, appointment height can be specified. </li>
            <li><span class="Emphasis">Show More Button</span> – In cases where the data does not fit well into the height and width constraints, the <span class="Emphasis">More</span> button alerts users to the fact that there is data present which is being hidden.  </li>
            <li>
                <p><span class="Emphasis">Default Time Scale</span> – The default time scale determines level of granularity which is initially visible within the time dimension. This can be set at:</p>
                <ul>
                    <li>Year-Quarter</li>
                    <li>Quarter-Month</li>
                    <li>Month-Week</li>
                    <li>Week-Days</li>
                    <li>Day-Hours</li>
                    <li>Hour-Time  </li>
                </ul>
            </li>
            <li>
                <p><span class="Emphasis">Default View</span> – The view for the schedule. </p>
                <ul>
                    <li><span class="Emphasis">Gantt View</span> – The Gantt view presents the schedule as a series of bars with inter-dependencies. </li>
                    <li><span class="Emphasis">Month View</span> – The month view looks similar to a regular calendar view.  </li>
                </ul>
            </li>
            <li><span class="Emphasis">Months Per Page</span> – Sets the number of months that display when in month view.  </li>
            <li><span class="Emphasis">Week Count</span> – Shows the number of weeks when in month view.  </li>
            <li><span class="Emphasis">Cell Colors</span> – Lets users change the foreground (text) and background cell colors for certain sections of the schedule. </li>
        </ul>
    </body>
</html>