<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us">
    <head><title></title>
    </head>
    <body>
        <h1>Schedule data mapping</h1>
        <p>The schedule data mapping section determines how the data returned in the schedule data selection method is used. </p>
        <ul>
            <li><span class="Emphasis">ID</span> – Identification number for the schedule data object. </li>
            <li><span class="Emphasis">Name</span> – Name for the schedule data object. </li>
            <li><span class="Emphasis">Description</span> – A description of the schedule data object.</li>
            <li><span class="Emphasis">Start</span> – The start datetime for the schedule data object.</li>
            <li><span class="Emphasis">End</span> – The end datetime for the schedule data object.</li>
            <li><span class="Emphasis">Color</span> – Defines the color of the schedule data object.</li>
            <li><span class="Emphasis">Resource ID</span> – Defines the link between the schedule tree and the schedule data.</li>
            <li><span class="Emphasis">All Day Flag</span> – If the schedule data object consumes the entire day, this flag may be checked.  </li>
            <li><span class="Emphasis">Double Click Action</span> – Clicking on <span class="Emphasis">Manage Action</span> lets users define an action associated with a mouse double-click. </li>
        </ul>
    </body>
</html>