<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us">
    <head><title></title>
    </head>
    <body>
        <h1>Column properties</h1>
        <p>The column properties section lets users add, modify, and delete columns as needed within the grid. </p>
        <h2>Column</h2>
        <ul>
            <li><span class="Emphasis">Column</span> – The column name.</li>
        </ul>
        <h2>Band Settings</h2>
        <p><span class="Emphasis">Band Type</span> – Determines if the column is of type <span class="Emphasis">Pivot</span>, the default band type will place the column in the center band. </p>
        <p>If the column is of type <span class="Emphasis">Nonpivot</span>, and does</p>
        <ul>
            <li>
                <p> not contain the <span class="Emphasis">JESUM</span> expression, then the column is placed in the left band. </p>
            </li>
            <li>
                <p>contain the <span class="Emphasis">JESUM</span> expression, then the column is placed in the right band.  </p>
                <p>Band types can also be manually set to determine the band placement. </p>
            </li>
        </ul>
    </body>
</html>