<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd">
    <head>
    </head>
    <body>
        <h1>Validating Sales Data</h1>
        <p>Sales data is validated using the <span class="Emphasis">Sales History by Type - Validation</span> view. Use the <span class="Emphasis">Filter</span> parameter to select a filter and click <span class="Emphasis">Execute</span>.</p>
        <p>
            <img src="../../Resources/Images/Views/Validating Sales History.PNG" class="LargeImages" />
        </p>
        <h2>Adding the Sales History by Type - Validation view</h2>
        <ol>
            <li>
                <p> Click&#160;<span class="Emphasis">Configuration</span> on a module's toolbar.</p>
            </li>
            <li>
                <p>Select <span class="Emphasis">Sales History by Type - Validation</span> view from the <span class="Emphasis">View Maintenance</span> screen.</p>
            </li>
            <li>
                <p>Click <span class="Emphasis">Ok</span>.</p>
            </li>
        </ol>
    </body>
</html>