<?xml version="1.0" encoding="UTF-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd"
      xml:lang="en-us">
   <head>
      <title/>
   </head>
   <body>
      <h1>Views</h1>
      <p>Views are the main interface for users to interact with data elements. Views are designed around specific workflows with common tasks for a specific level of user access rights. </p>
      <p>Views exist as a container for one or more widgets. Any views assembled as part of a standard module are contained within an appropriate view collection and view collection set. Any custom views used for reporting or custom workflows and maintenance screens may be accessed within the <span class="Emphasis">Views</span> module. </p>
      <h2>Working with standard and custom views</h2>
      <h3>Standard views</h3>
      <p>The standard views are available for maintenance and additional configuration. Modules such as Assortment Planning, Merchandise Financial Planning, Promotion Planning, etc. leverage the <span class="Emphasis">Views</span> module to build their respective user interfaces. </p>
      <h3>Custom views</h3>
      <p>Custom views must be accessed from  the <span class="Emphasis">Views</span> module itself. These views are located in a view group (folder) in the <span class="Emphasis">Views</span> tab of the navigation menu. Double clicking on the view opens a new tab and users may use the view as intended from this location.</p>
      <h2>Choosing widgets</h2>
      <p>When creating and editing a view, users are required to choose which widgets to include and how the management of required parameters is handled. </p>
   </body>
</html>
