<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us">
    <head>
        <title>
        </title>
    </head>
    <body>
        <h1>View collections</h1>
        <p>View collections, like view collection sets, exist as containers for a collection of views. These views display within the view collection as a series of horizontally ordered tabs. A view collection set is the highest level of view organization at which user rights and permissions may be assigned.</p>
        <p>A view collection can be assigned a representative image from those available in the icon library. This icon represents the view collection throughout the user interface.</p>
        <p>Within the view collection maintenance window, user access rights may be assigned to each individual view in the collection. Users may be granted read access, or write (full) access to the view. This access may be assigned based on roles or to individual users.</p>
        <h2>Creating view collections </h2>
        <p>Creating view collections is similar to creating groups and view collection sets. View collections must be created within a view collection set. </p>
        <p>Click the <span class="Emphasis">New</span> button in the <span class="Emphasis">View Collection</span> section of the <span class="Emphasis">Maintain View Collection Set</span> toolbar or right-click on the desired location for the new view collection. </p>
        <h3>The <span class="Emphasis">New View Collection</span> window</h3>
        <p>
            <img src="../../Resources/Images/Views/Creating a View Collection.png" class="LargeImages">
            </img>
        </p>
        <ol>
            <li>
                <p>Enter a unique name for the view collection and add a description. </p>
            </li>
            <li>
                <p>Assign an icon in the <span class="Emphasis">Image</span> field.</p>
                <p class="BasicNote">Available icons display in the dropdown menu.</p>
            </li>
            <li>
                <p>Select the desired views in the <span class="Emphasis">Available Views</span> field.</p>
            </li>
            <li>Use the arrow buttons on the right to order the views.</li>
            <li>Assign user rights in the <span class="Emphasis">User Access Rights</span> section.</li>
        </ol>
        <h2>Maintaining view collections</h2>
        <p>Click <span class="Emphasis">Edit</span> on a view collection to update its preferences. The most common tasks are the addition or subtraction and reordering of specific views and the structuring of user access rights. </p>
        <h3>User access rights</h3>
        <p>User rights are listed by both role and by individual user. Any assignment of roles to specific user accounts must be done within the ToolsGroup JustEnough user maintenance screen by a system administrator. </p>
        <p>Once roles have been defined, they may be assigned access to specific views within the view collection. The access rights displayed will represent the highlighted view in the above window.</p>
        <p>
            <img src="../../Resources/Images/Views/User Access Rights.png" class="LargeImages" />
        </p>
    </body>
</html>