<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us">
    <head>
        <link href="../../Resources/TableStyles/standard.css" rel="stylesheet" MadCap:stylesheetType="table" /><title></title>
    </head>
    <body>
        <h1>Creating and managing View Collection Sets</h1>
        <p>View collection sets act as containers for view collections and can be thought of as the workflow presented to the user upon clicking on a module name. </p>
        <p>To properly configure a view collection set, the view collections intended for inclusion must exist. Once the necessary view collections have been created, they can be included and ordered within the view collection set.</p>
        <p>Use the <span class="Emphasis">Maintain View Collection Set</span> window to create and manage groups, view collection sets, and view collections.</p>
        <p class="BasicNote">In the context of view creation and maintenance, groups are an organizational tool intended to resemble a folder like structure. Groups should not be confused with other grouping systems such as inventory groups, item master groups, etc.</p>
        <p>
            <img src="../../Resources/Images/Views/Maintain view collection set window.png" class="LargeImages">
            </img>
        </p>
        <p>The <span class="Emphasis">Maintain View Collection Set</span> window contains a toolbar and a grid showing the full tree structure of existing groups, view collection sets, and view collections.</p>
        <h2>Navigating to the  Maintain View Collection Set window</h2>
        <p>To open the <span class="Emphasis">Maintain View Collection Set</span> window:</p>
        <ol>
            <li>From the System Utilities tab, click <span class="Emphasis">Views</span>.</li>
            <li>On the Views toolbar, click <span class="Emphasis">View Collection Sets</span>.</li>
        </ol>
        <h2>Creating view collection sets</h2>
        <p>Creating view collection sets is similar to creating groups. View collection sets must be created within a group or any sub-group. </p>
        <p>Click the <span class="Emphasis">New</span> button in the <span class="Emphasis">Maintain View Collection Set</span> toolbar or right-click on the desired group for the new view collection set. The <span class="Emphasis">New View Collection Set</span> window displays.</p>
        <h3>The New View Collection Set window </h3>
        <p>
            <img src="../../Resources/Images/Views/Creating a View Collection Set.png" class="LargeImages">
            </img>
        </p>
        <ol>
            <li>
                <p>Enter a unique name for the view collection set and add a description. </p>
            </li>
            <li>Confirm the parent group listed in the <span class="Emphasis">Group</span> field (it can be changed by clicking <span class="Emphasis">Change</span> and selecting a new group (folder)).</li>
            <li>Select the desired views in the <span class="Emphasis">Available Views</span> field.</li>
            <li>Use the arrow buttons on the right to order the views.</li>
            <li>Click <span class="Emphasis">Ok</span>.</li>
        </ol>
        <h2>View collection set maintenance</h2>
        <p>Click <span class="Emphasis">Edit</span> to update the preferences of a specific view collection set. The most common tasks are the addition or subtraction of specific view collections and the reordering of the selected view collections. </p>
        <p>
            <img src="../../Resources/Images/Views/View Collection Set Maintenance.png" class="LargeImages">
            </img>
        </p>
        <p>Click <span class="Emphasis">Ok</span> to save the new preferences.</p>
        <p class="BasicNote">It is recommended to click the <span class="Emphasis">Preview</span> button on the <span class="Emphasis">Maintain View Collection Set</span> window to confirm the layout is as desired. </p>
        <h2>Creating groups</h2>
        <p>Groups (folders) are created by clicking the <span class="Emphasis">New</span> button in the <span class="Emphasis">Group</span> section on the toolbar or by right-clicking on the desired location for the new group. </p>
        <p>
            <img src="../../Resources/Images/Views/Creating a Group.png" class="LargeImages">
            </img>
        </p>
        <p>The <span class="Emphasis">New Group</span> window displays.</p>
        <p>
            <img src="../../Resources/Images/Views/New Group Dialog.png" class="LargeImages">
            </img>
        </p>
        <p>Enter a unique name on that level for the group and add an optional description. Once a group has been created, it can be moved into another group or moved to the root level by dragging the folder icon and dropping it.</p>
        <h2>Toolbar functionality</h2>
        <p>The toolbar contains the following:</p>
        <table class="TableStyle-standard" cellspacing="0" style="mc-table-style: url('../../Resources/TableStyles/standard.css');">
            <col class="TableStyle-standard-Column-Column1">
            </col>
            <col class="TableStyle-standard-Column-Column2">
            </col>
            <thead>
                <tr class="TableStyle-standard-Head-Header1">
                    <th class="TableStyle-standard-HeadE-Column1-Header1">Action</th>
                    <th class="TableStyle-standard-HeadD-Column2-Header1">Description</th>
                </tr>
            </thead>
            <tbody>
                <tr class="TableStyle-standard-Body-Body1">
                    <td class="TableStyle-standard-BodyD-Column1-Body1" colspan="2"><span class="Emphasis">Group</span>
                    </td>
                </tr>
                <tr class="TableStyle-standard-Body-Body1">
                    <td class="TableStyle-standard-BodyE-Column1-Body1">New</td>
                    <td class="TableStyle-standard-BodyD-Column2-Body1">Adds a new group. </td>
                </tr>
                <tr class="TableStyle-standard-Body-Body1">
                    <td class="TableStyle-standard-BodyE-Column1-Body1">Edit</td>
                    <td class="TableStyle-standard-BodyD-Column2-Body1">Edits the selected group.</td>
                </tr>
                <tr class="TableStyle-standard-Body-Body1">
                    <td class="TableStyle-standard-BodyE-Column1-Body1">Delete</td>
                    <td class="TableStyle-standard-BodyD-Column2-Body1">Deletes the selected group.</td>
                </tr>
                <tr class="TableStyle-standard-Body-Body1">
                    <td class="TableStyle-standard-BodyD-Column1-Body1" colspan="2"><span class="Emphasis">View Collection Set</span>
                    </td>
                </tr>
                <tr class="TableStyle-standard-Body-Body1">
                    <td class="TableStyle-standard-BodyE-Column1-Body1">New</td>
                    <td class="TableStyle-standard-BodyD-Column2-Body1">
                       Creates a new view collection set. See, </td>
                </tr>
                <tr class="TableStyle-standard-Body-Body1">
                    <td class="TableStyle-standard-BodyE-Column1-Body1">
                         Edit 
                    </td>
                    <td class="TableStyle-standard-BodyD-Column2-Body1">
                         Edits the selected view collection set. 
                    </td>
                </tr>
                <tr class="TableStyle-standard-Body-Body1">
                    <td class="TableStyle-standard-BodyE-Column1-Body1">
                        Delete 
                    </td>
                    <td class="TableStyle-standard-BodyD-Column2-Body1">
                        Deletes the selected view collection set. 
                    </td>
                </tr>
                <tr class="TableStyle-standard-Body-Body1">
                    <td class="TableStyle-standard-BodyE-Column1-Body1">
                        Import New 
                    </td>
                    <td class="TableStyle-standard-BodyD-Column2-Body1">
                         Imports a new view collection set (.jevcs file). 
                    </td>
                </tr>
                <tr class="TableStyle-standard-Body-Body1">
                    <td class="TableStyle-standard-BodyE-Column1-Body1">
                         Import Existing 
                    </td>
                    <td class="TableStyle-standard-BodyD-Column2-Body1">
                        Imports an existing view collection set (.jevcs file). 
                    </td>
                </tr>
                <tr class="TableStyle-standard-Body-Body1">
                    <td class="TableStyle-standard-BodyE-Column1-Body1">
                         Export 
                    </td>
                    <td class="TableStyle-standard-BodyD-Column2-Body1">
                        Exports the selected view collection set to a .jevcs file.  
                    </td>
                </tr>
                <tr class="TableStyle-standard-Body-Body1">
                    <td class="TableStyle-standard-BodyD-Column1-Body1" colspan="2"><span class="Emphasis">View Collection</span>
                    </td>
                </tr>
                <tr class="TableStyle-standard-Body-Body1">
                    <td class="TableStyle-standard-BodyE-Column1-Body1">New</td>
                    <td class="TableStyle-standard-BodyD-Column2-Body1">
                        Adds a new view collection. View collections can only be created within a view collection set. See, <MadCap:xref href="View Collections.htm">View collections</MadCap:xref>.</td>
                </tr>
                <tr class="TableStyle-standard-Body-Body1">
                    <td class="TableStyle-standard-BodyE-Column1-Body1">
                        Edit 
                    </td>
                    <td class="TableStyle-standard-BodyD-Column2-Body1">
                         Edits the selected view collection. 
                    </td>
                </tr>
                <tr class="TableStyle-standard-Body-Body1">
                    <td class="TableStyle-standard-BodyE-Column1-Body1">
                         Delete 
                    </td>
                    <td class="TableStyle-standard-BodyD-Column2-Body1">
                         Deletes the selected view collection.
                    </td>
                </tr>
                <tr class="TableStyle-standard-Body-Body1">
                    <td class="TableStyle-standard-BodyE-Column1-Body1">
                         Remove 
                    </td>
                    <td class="TableStyle-standard-BodyD-Column2-Body1">
                        Removes the selected view collection. 
                    </td>
                </tr>
                <tr class="TableStyle-standard-Body-Body1">
                    <td class="TableStyle-standard-BodyE-Column1-Body1">
                        Preview 
                    </td>
                    <td class="TableStyle-standard-BodyD-Column2-Body1">
                        Shows the current layout of the selected view collection set or view collection. 
                    </td>
                </tr>
                <tr class="TableStyle-standard-Body-Body1">
                    <td class="TableStyle-standard-BodyB-Column1-Body1">
                         Refresh 
                    </td>
                    <td class="TableStyle-standard-BodyA-Column2-Body1">
                         Refreshes the data in the grid. 
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>