<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us">
    <head>
        <title>
        </title>
    </head>
    <body>
        <h1>Widgets</h1>
        <p>Widgets are an extremely flexible and powerful means by which to display data in a View. Easily the most customizable feature in the ToolsGroup JustEnough software suite, the effective use of widgets is essential to a successful user experience. As the core work surfaces, widgets display the information through data grids, pivot grids, graphs or schedules providing opportunities to work with relevant data in a straightforward and intuitive manner. </p>
        <p>There are several widget types, each intended for use in a particular environment or workflow. Some widgets are well suited for returning data, some are well suited for workspace functions, and some function well in both applications. The keys to properly selecting which widget type to use are understanding the particulars of the data and the details of the workflow requirements. </p>
        <p>
            <img src="../../Resources/Images/Views/Widget types.PNG" class="LargeImages" />
        </p>
        <MadCap:miniTocProxy style="mc-toc-depth: 1;" />
    </body>
</html>